{% extends "./base.html" %}
{% load static %}

{% block content_center %}

<!-- form for poting -->
<form class="container mt-4" method="POST" enctype="multipart/form-data" onSubmit="return checkForm(this)">
    {% csrf_token %}

    <table>
      <tr>
        <td>Title*</td>
        <td><input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" size=50 required></td>
      </tr>
      <tr>
        <td>Description*</td>
        <td><textarea rows="10" column="50" class="form-control" name="description" id="description" placeholder="Enter Description" size=50 required></textarea></td>
      </tr>
      <tr>
        <td>City*</td>
        <td>
          <!-- single select box for city -->
          <select name="city_select" id="city_select" style="width: 100%" required>
            <option selected disabled> -- select a City -- </option>
            {% for city in cities %}
              <option>{{ city }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Apply at**</td>
        <td><input type="text" class="form-control" name="posting_url" id="posting_url" placeholder="Enter link to your website" size=50></td>
      </tr>
      <tr>
        <td>Alternative Contact Details**</td>
        <td><input type="text" class="form-control" name="contact_details" id="contact_details" placeholder="If no website link is available, add contact details" size=50></td>
      </tr>
      <tr>
        <td>Skills You will Develop*</td>
        <td>
          <!-- Multiple select box for skills -->
          <select multiple="" name="skills_select" id="skills_select" style="width: 100%" required>
            {% for skill in skills %}
              <option>{{ skill }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Submit" class="btn btn-primary button-type1"> <a href="/my_postings" class="btn btn-primary button-type1">Cancel</a></td>
      </tr>
    </table>
    <br>
    <p>*Title, Description, City and Skills are mandatory fields</p>
    <p>**At least one of the fields: Apply at, Alternative Contact Details needs to be filled in"
</form>

<!-- https://www.youtube.com/watch?v=NyrH70uH5zM -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#skills_select').chosen();
  });
  $(document).ready(function() {
    $('#city_select').chosen();
  });
</script>

{% endblock content_center%}
