<!-- https://stackoverflow.com/questions/28240746/django-how-to-implement-alertpopup-message-after-complete-method-in-view -->
{% include "./header.html" %}

<div class="grid-container">
    <div class="item1">
    </div>

    <div class="item2">
        {% if user.is_authenticated %}
          <a href="{% url 'index' %}" class="btn btn-outline-primary">Home</a>
          <a href="{% url 'add_posting' %}" class="btn btn-outline-primary">Add Posting</a>
          <a href="{% url 'my_postings' %}" class="btn btn-outline-primary">My Postings</a>
          <a href="{% url 'update_org_details' %}" class="btn btn-outline-primary">Update Org Details</a>
        {% else %}

        {% endif %}
    </div>

    <div class="item3">
      {% if user.is_authenticated %}
        <p>{{ user }} <a href="{% url 'user_logout' %}" class="btn btn-primary">Sign Out</a></p>

      {% else %}
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
        <a href="{% url 'user_login' %}" class="btn btn-primary">Sign In</a>
      {% endif %}
    </div>

    <div class="item4">
      {% block content_left %}{% endblock %}
    </div>

    <div class="item5">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}

      {% block content_center %}{% endblock %}
    </div>

    <div class="item6">{% block content_right %}{% endblock %}</div>

    <div class="item7">
        {% include "./footer.html" %}
    </div>
</div>
