{% extends "./base.html" %}
{% load static %}
{% load define_action %}

{% block content_center %}

<form class="container mt-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" class="form-control" name="title" id="title" size=50 required value="{{ posting.title }}"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea rows="10" column="50" class="form-control" name="description" id="description" size=50 required>{{ posting.description }}</textarea></td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <select name="city_select" id="city_select" style="width: 300px;" required>
            {% for city in cities %}
              {% if city == posting.city %}
                <option selected = {{ city }}>{{ city }}</option>
              {% else %}
                <option>{{ city }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Website</td>
        <td><input type="text" class="form-control" name="posting_url" id="posting_url" value={{ posting.posting_url }} size=50></td>
      </tr>
      <tr>
        <td>Alternative Contact Details</td>
        <td><input type="text" class="form-control" name="contact_details" id="contact_details" value="{{ posting.contact_details }}" size=50></td>
      </tr>
      <tr>
        <td>Skills You will Develop</td>
        <td>
          <select multiple="" name="skills_select" id="skills_select" style="width: 300px;" required>
            {% for key,value in skills.items %}
              {% if value == 'yes' %}
                <option selected value="{{ key }}">{{ key }}</option>
              {% else %}
                <option>{{ key }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Update" class="btn btn-primary"></td>
      </tr>
    </table>
    <br>
</form>

<!-- https://www.youtube.com/watch?v=NyrH70uH5zM -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#skills_select').chosen();
  });
  $(document).ready(function() {
    $('#city_select').chosen();
  });
</script>

{% endblock content_center%}
