{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Job Portal for Volunteering">
        <meta name="keywords" content="HTML,volunteer,volunteering,NGO,skills">
        <meta name="author" content="I.Costache">
        <link rel="stylesheet" href="{% static 'skillsapp/chosen.min.css'%}"> <!-- https://harvesthq.github.io/chosen/-->
        <script type="text/javascript" src="{% static 'skillsapp/jquery-3.7.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'skillsapp/chosen.jquery.min.js' %}"></script>  <!-- https://harvesthq.github.io/chosen/-->

        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
        {% load bootstrap5 %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'skillsapp/stylesheet.css'%}">
    </head>
    <body>

      {% if user.is_authenticated %}
      <a href="{% url 'index' %}" class="btn btn-outline-primary">Home</a>

      <a href="{% url 'add_posting' %}" class="btn btn-outline-primary">Add Posting</a>
      <a href="{% url 'my_postings' %}" class="btn btn-outline-primary">My Postings</a>
      <a href="{% url 'update_org_details' %}" class="btn btn-outline-primary">Update Org Details</a>
      <a href="{% url 'user_logout' %}" class="btn btn-outline-primary">Logout</a>

      {% else %}

      <a href="{% url 'index' %}" class="btn btn-outline-primary">Home</a>
      <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
      <a href="{% url 'user_login' %}" class="btn btn-outline-primary">Login</a>

      {% endif %}
