{% extends "./base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content_left %}

  <h5><strong>Filter Jobs</strong></h5><br>

  <!-- filtering of results using selection boxes is sent via POST method -->
  <form action="{% url 'index' %}" method = "POST" enctype="multipart/form-data">
    {% csrf_token %}

  <p><strong>City</strong></p>
  <select name="city_select" id="city_select" class="select-type1">
    <!-- if a previous selection was made, city_selection will store the value -->
    {% if not city_selection %}
      <option selected disabled></option>
    {% else %}
      <option disabled></option>
    {% endif %}
    {% for city in cities %}
      {% if city == city_selection %}
        <option selected>{{ city }}</option>
      {% else %}
        <option>{{ city }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <br><br>

  <!-- if a previous selection was made, org_selection will store the value -->
  <p><strong>Organization</strong></p>
  <select name="org_select" id="org_select" class="select-type1">
    {% if not org_selection %}
      <option selected disabled></option>
    {% else %}
      <option disabled></option>
    {% endif %}
    {% for org in organizations %}
      {% if org == org_selection %}
        <option selected>{{ org }}</option>
      {% else %}
        <option>{{ org }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <br><br>

  <!-- if a previous selection was made, skill_selection will store the value -->
  <p><strong>Skill</strong></p>
  <select name="skill_select" id="skill_select" class="select-type1">
    {% if not skill_selection %}
      <option selected disabled></option>
    {% else %}
      <option disabled></option>
    {% endif %}
    {% for skill in skills %}
      {% if skill == skill_selection %}
        <option selected>{{ skill }}</option>
      {% else %}
        <option>{{ skill }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <br><br>

    <p>
      <input type="submit" class="btn btn-primary button-type1" name="submit" value="Apply Filters"/>
      <!-- reload page if Reset Filters button is clicked -->
      <input type="button" class="btn btn-outline-primary" name="reset" onclick="location.href='/';" value="Reset Filters"/>
    </p>
  </form>
  <br><br>

  <!-- keyword search is sent via GET method -->
  <form action="{% url 'index' %}" method = "GET" value={{request.GET.keyword}}>
    <input type="search" name="keyword" value="{{request.GET.keyword}}" placeholder="Search job descriptions" style="width:80%;"/>
    <br><br>
    <input type="submit" class="btn btn-primary button-type1" name="submit" value="Search"/>
    <input type="button" class="btn btn-outline-primary" name="reset" onclick="location.href='/';" value="Reset"/>
  </form>

{% endblock content_left%}

{% block content_center %}

      <h5><strong>Job Postings</strong></h5>

      <hr>
      <!-- iterate over all postings loaded from the database -->
      {% for posting in postings %}
        <div class="row rounded p-1 mt-1 mx-1" >
          <div class="col-3">
            <!-- logo of the organizations -->
            <img class="img-thumbnail" src={{ posting.logo }} style="max-width: 90%;"/>
          </div>
          <div class="col-9">
            <a href='{% url "view_posting" posting.id %}'> <h6>{{ posting.title }} </h6></a>
            <p>{{ posting.org_name }}</p>
            <p>{{ posting.city }}, {{ posting.country }}</p>
            <p>Skills:
              <!-- iterate over all skills for each posting -->
              {% for posting_skill in posting.skills %}
                {% if posting_skill.skill_name == skill_selection %}
                  <mark style="background-color: dodgerblue;color: white;">{{ posting_skill.skill_name }}</mark>;
                {% else %}
                  {{ posting_skill.skill_name }};
                {% endif %}
              {% endfor %}
            </p>
            <p>Apply at: <a href='{{ posting.posting_url }}'> {{ posting.posting_url }} </a></p>
            <p>Alternative contact details: {{ posting.contact_details }}</p>
            <p>Last updated: {{ posting.last_updated_on }}</p>
          </div>
          <hr>
        </div>
      {% endfor %}

<!-- Javascript to manage select boxes -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#city_select').chosen({allow_single_deselect: true});
  });
  $(document).ready(function() {
    $('#org_select').chosen({allow_single_deselect: true});
  });
  $(document).ready(function() {
    $('#skill_select').chosen({allow_single_deselect: true});
  });
</script>

{% endblock content_center%}
