{% extends "./base.html" %}
{% load static %}

{% block content_center %}

  <h5><strong>My Organization's Postings</strong></h5></br></br>

  <table class="table">
    <tr>
      <th>Posting Title</th>
      <th>Location</th>
      <th>Last Updated</th>
      <th>Status<th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for posting in postings %}
    <tr>
      <td>{{ posting.title }}</td>
      <td>{{ posting.city }}, {{ posting.country}}</td>
      <td>{{ posting.last_updated_on }}</td>
      <td>
        {% if posting.deactivated %}
          <p>deactivated</p>
        {% else %}
          <p>active</p>
        {% endif %}
      </td>
      <td><a class="btn btn-primary btn-sm" name="view" href="view_posting/{{ posting.id }}">View</a></td>
      <td><a class="btn btn-primary btn-sm" name="edit" href="edit_posting/{{ posting.id }}">Edit</a></td>
        {% if posting.deactivated %}
          <td><a class="btn btn-warning btn-sm" name="reactivate" href="reconfirm_posting/{{ posting.id }}">Reactivate</a></td>
        {% else %}
          <td><a class="btn btn-success btn-sm" name="reconfirm" href="reconfirm_posting/{{ posting.id }}">Reconfirm</a></td>
          <td><a class="btn btn-warning btn-sm" name="deactivate" href="deactivate_posting/{{ posting.id }}">Deactivate</a></td>
        {% endif %}
      </td>

    <tr>
    {% endfor %}
  </table>

{% endblock content_center%}
