{% extends "./base.html" %}
{% load static %}

{% block content_center %}

  <h5><strong>My Organization's Postings</strong></h5></br></br>

  <table class="table table-responsive">
    <tr>
      <th>Posting Title</th>
      <th>Location</th>
      <th>Last Updated</th>
      <th>Status<th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <!-- iterate over all postings -->
    {% for posting in postings %}
    <tr>
      <td>{{ posting.title }}</td>
      <td>{{ posting.city }}, {{ posting.country}}</td>
      <td>{{ posting.last_updated_on }}</td>
      <td>
        <!-- posting status as a text is determined based on boolean field from the database-->
        {% if posting.deactivated %}deactivated{% else %}active{% endif %}
      </td>
      <td><a class="btn btn-primary btn-sm" name="view" href="view_posting/{{ posting.id }}">View</a></td>
      <td><a class="btn btn-primary btn-sm" name="edit" href="edit_posting/{{ posting.id }}">Edit</a></td>
        {% if posting.deactivated %}
          <td><a class="btn btn-warning btn-sm" name="reactivate" href="repost/{{ posting.id }}/all">Reactivate</a></td>
        {% else %}
          <td><a class="btn btn-success btn-sm" name="repost" href="repost/{{ posting.id }}/all">Repost</a></td>
          <td><a class="btn btn-warning btn-sm" name="deactivate" href="deactivate_posting/{{ posting.id }}/all">Deactivate</a></td>
        {% endif %}
      </td>

    <tr>
    {% endfor %}
  </table>

{% endblock content_center%}
