{% extends "./base.html" %}
{% load static %}

{% block content_center %}

<form class="container mt-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table table-sm">
      <tr>
        <td>Email Id</td>
        <td><input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Id" size=30></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" class="form-control" name="password1" id="password1" placeholder="Enter Password" size=30></td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td><input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password" size=30></td>
      </tr>
      <tr>
        <td>Organization Name</td>
        <td><input type="text" class="form-control" name="org_name" id="org_name" placeholder="Enter Organization Name" size=30></td>
      </tr>
      <tr>
        <td>About Organization</td>
        <td><textarea rows="4" cols="50" class="form-control" name="about_org" id="about_org" placeholder="Enter Details about the organization" size=30></textarea></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><input type="text" class="form-control" name="org_website" id="org_website" placeholder="Enter Website" size=30></td>
      </tr>
    </table>

    <br>
<input type="submit" value="Submit" class="btn btn-primary">
</form>

{% endblock content_center%}
