{% extends "./base.html" %}
{% load static %}

{% block content_center %}

<form class="container mt-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table table-responsive table-borderless">
      <tr>
        <td>Organization Name</td>
        <td><input type="text" class="form-control" name="org_name" id="org_name" value="{{ organization.org_name }}" required size=30></td>
      </tr>
      <tr>
        <td>About Organization</td>
        <td><textarea rows="4" cols="50" class="form-control" name="about_org" id="about_org" required size=30>{{ organization.about_org }}</textarea></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><input type="text" class="form-control" name="org_website" id="org_website" value="{{ organization.org_website }}" required size=30></td>
      </tr>
      <tr>
        <td>Logo</td>
        <td><input type="file" class="form-control" name="logo" id="logo"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Update" class="btn btn-primary button-type1"></td>
      </tr>
    </table>

    <br>
</form>

{% endblock content_center%}
