{% extends "./base.html" %}
{% load static %}

{% block content_center %}

<br><h5><strong>{{ posting.org_name }}</strong></h5><br>
<p>{{ posting.about_org }}</p>
<h5><strong>{{ posting.title }}</strong></h5><br>
<p>{{ posting.description}}</p>
<p><strong>Location: </strong>{{ posting.city }}, {{ posting.country}}</p>
<p><strong>Skills You will Develop:</strong>
    {% for posting_skill in posting.skills %}
      {{ posting_skill.skill_name }};
    {% endfor %}
</p>
<p>Apply at: <a href='{{ posting.posting_url }}'> {{ posting.posting_url }} </a></p>
<p>Alternative Contact Details: {{ posting.contact_details }}</p>

<!-- https://www.youtube.com/watch?v=NyrH70uH5zM -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#skills_select').chosen();
  });
  $(document).ready(function() {
    $('#city_select').chosen();
  });
</script>

{% endblock content_center%}
